/* 
    Created on : May 11, 2015, 8:38:04 PM
    Author     : cleber
*/
body{
    font-family: arial, sans-serif, helvetica;
    margin: 0px;
}

header {
    background: #6699FF;
}

#logo{
    color: white;
    padding: 10px;
}

#image_view{
    background: orange;
}
#maior{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 800px;
    height: 600px;
    padding: 20px;
}
#scroll{
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 400px;
    height: 300px;
    
}

footer {
    text-align: center;
    color: white;
    background: #6699FF;
    padding: 10px;
    margin: 0px;
    bottom: 0;
    position: inherit;
}