/* 
    Created on : May 11, 2015, 8:38:04 PM
    Author     : cleber
*/
body{
    font-family: arial, sans-serif, helvetica;
    margin: 0px;
}

header {
    background: #6699FF;
}

#logo{
    color: white;
    padding: 10px;
}

#image{
    background: gray;
    
}

.js-fix{
    border-color: red;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    //top: 50%;
    //left: 50%;
}
#maior{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 700px;
    height: 700px;

    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

footer {
    text-align: center;
    color: white;
    background: #6699FF;
    padding: 10px;
    margin: 0px;
    bottom: 0;
    position: inherit;
}